$white: #F4F4F6
$red: #E45756
$priority-low: #92C9F2
$priority-medium: #FF9B63
$priority-high: #E45756
$header-black: #1F1F1F
$subtitle: #565656

$desktop: 768px
$tablet: 600px

.app
    margin-top: 2em
    padding: 1em
    background-color: $white
#navbar
    display: flex
    justify-self: center
    align-items: center
    justify-items: center

    #logo
        margin-left: auto
        margin-right: auto
